beautifulsoup4
faiss-cpu
fastapi
huggingface_hub
ollama
openai
pdfplumber
pdf2image
pillow
pytesseract
pytest
python-dotenv
python-multipart
sentence-transformers
spacy
sqlalchemy==2.0.25
uvicorn[standard]
